@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');

:root {
    font-family: Archivo, sans-serif;
    --container: #0d1b2a;
    --body: #1b263b;
    --text: #e0e1dd;
    --stand-out: #ff6b35;
}

html, body {
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    height: 100%;
    text-align: center;
    color: var(--text);
}

header {
    background-color: var(--container);
    font-size: 6rem;
    padding: 2rem 0 2rem 0rem;
}

main {
    background-color: var(--body);
}

main > p {
    font-size: 3rem;
    margin: 2rem 0;
}

#message > #turn {
    color: var(--stand-out);
    font-family: 700;
}

#game-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    margin: 2rem auto;
    padding: 2rem;


    width:max-content;
    background-color: var(--container);
    border-radius: 1rem;   
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text);
    color: var(--container);
    font-size: 5rem;
    border-radius: 1rem;
}

#restart {
    width: 200px;
    height: 3rem;
    border-radius: 2rem;
    border: 0;

    background-color: var(--stand-out);
    color: var(--text);
    font-size: 1.5rem;
    font-weight: 700;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--container);
    font-size: 1.25rem;
    padding: 1rem;
}

footer > a > img {
    padding-left: 1rem;
    width: 32px;
}