@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');

:root {
    font-family: Archivo, sans-serif;
}

html, body {
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-rows: min-content 1fr, min-content;
    height: 100%;
    text-align: center;
}